.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ulnav{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  width: 50%;
  justify-content: space-around;
}
.gridone {
  display: grid;
  grid-template-columns: auto auto; 
}

.container {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 20px;
}

.imgone {
  grid-column: 1 / -1;
  width: 675px;
  height: 350px;
}

.bottomimg {
  display: contents; 
}


.container {
  display: grid;
  grid-template-rows: auto auto; 
  gap: 20px;
}

.container >:not(.imgone) {
  grid-column: span 1 / auto; 
  display: grid;
  gap: 20px;
}
.containertwo{
  background-color: rgb(48, 47, 47);
}

.container {
  grid-template-columns: repeat(2, 1fr); 
}
