#container {
  height: 500px;
  display: grid;
  grid-template-areas:
    "navbar navbar navbar navbar"
    "section1 section1 section1 aside"
    "section2 section2 section2 aside"
    "section3 section3 section3 section3";
  gap: 20px;
}

.navbar {
  grid-area: navbar;
  background: blue;
}

.section1 {
  grid-area: section1;
  background: lightseagreen;
}

.aside {
  grid-area: aside;
  background: lightblue;
}

.section2 {
  grid-area: section2;
  background: cyan;
}

.section3 {
  grid-area: section3;
  background: darkblue;
}
