*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #1d1c1c;
  line-height: 1.6;
  font-size: 16px;
  margin: 0;
  padding: 0;
}