:root{
  --orange: hsl(35, 77%, 62%);
  --red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);

  --thin : 400;
  --regular : 700;
  --bold : 800;
}
@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
  text-decoration: none;
}
*{
  font-family: "Inter", sans-serif;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-size: 15px;
}
header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em;
}
nav ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
body{
  padding: 5rem 10rem;
}
main{
  display: grid;
  gap: 2em;
  grid-template-areas: 
    "img    img   new"
    "title  call  new"
    "cards  cards cards";
}
.illustration{
  grid-area: img;
  width: 100%;
}

/******************** New ***************************/
.new{
  grid-area: new;
  padding: 2em;
  background: var(--very-dark-blue);
  color: var(--grayish-blue);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.new p{font-size: 1.5rem;}
.new h2{
  font-weight: var(--thin);
  font-size: 2.5rem;
  color:var(--orange);
}
.new h3{font-size: 2rem;}
.new h3:nth-child(odd){color:var(--off-white);}
.new aside{
  border-bottom: 1px solid var(--dark-grayish-blue);
  margin: 1em auto;
  
}

/*************** title **************/
.title{
  grid-area: title;
  color: var(--very-dark-blue);
}
h1{
  font-size: 6em;
  font-weight: bold;
}

/************* Call ******************/
.call{
  grid-area: call;
  grid-template-rows: 1fr 1fr;
  padding: 2em;
}
.call p{
  font-size: 1.3em;
}
.call button{
  padding: 1em 2em;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 3em auto;
  font-weight: var(--regular);
  background: var(--red);
  color: var(--off-white);
}

/****************** cards (broken) ****************************/
.cards{
  display: grid;
  grid-area: cards;
  grid-template-columns: 1fr 1fr 1fr;
}
.cards figure{
  display: grid;
  margin: 1em;
  grid-template-areas: 
    "card-img card-title"
    "card-img card-subtitle"
    "card-img card-description"
  ;
}
.cards figure img{ 
  grid-area: card-img;
  max-height: 20vh;
}
.cards h3, .cards figcaption{
  margin: 0 1rem;
}
.cards figure h3{ 
  grid-area: card-title;
  font-size: 3rem;
  color: var(--grayish-blue);
  font-weight: var(--bold);
}
.cards figure h4{
  grid-area: card-subtitle;
  margin: 1rem auto;
  font-weight: var(--bold);
}
.cards figure p{ grid-area: card-description;}

/**/