@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
  text-decoration: none;
}
*{
  font-family: "Inter", sans-serif;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em;
}
nav ul{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

main{
  display: grid;
  grid-template-areas: "img img new"
      "title call new"
      "cards cards cards";
}
img{
  display: block;
  width: 10vw;
}
.illustration{
  grid-area: "img";
  background: gold;
}
.new{
  grid-area: "new";
  background: crimson;
}
.title{
  grid-area: "title";
  background: seagreen;
}
.call{
  grid-area: "call";
  background: orange;
}
.cards{
  grid-area: "cards";
  background: royalblue;
}