@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Karla";
  src: url("fonts/Karla/Karla-VariableFont_wght.ttf");
}
@font-face {
  font-family: "DM";
  src: url("fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf");
}
:root{
  --fontSize: 16px;
  --regular: 400;
  --bold: 700;

  --DarkViolet: hsl(256, 26%, 20%);
  --GrayishBlue: hsl(216, 30%, 68%);
  --VeryDarkViolet: hsl(270, 9%, 17%);
  --DarkGrayishViolet: hsl(273, 4%, 51%);
  --VeryLightGray: hsl(0, 0%, 98%);
}
*{
  font-weight: var(--regular);
  font-family: "Karla";
}