* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    background: linear-gradient(90deg, violet, blue, green);
}

header nav {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav h1 {
    margin: 0;
    text-transform: uppercase;
    color: black;
}

header nav .madroite{
    display: flex;
    align-items: center;
}

header nav .madroite p {
    margin : 0 15px 0 0;
    color: #ccc;
}