html{
    background-color: bisque;
    
}

body{
    font-size: 16 px;
    max-width: 1440px;   
}

.main{
    background-color:white;
    max-width: 75%;
    margin: auto;
}

img{
    max-width: 100%;
}

h2{
    color: hsl(14, 45%, 36%);
    color: hsl(332, 51%, 32%);
}

.preparation{

}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

