img{
    object-fit: contain;
}
.presentation{
    display: flex;
    margin: 3em;
}
.presentation article{
    display: grid;
    place-content: center;
    max-width: 50%;
    font-size: 3em;
    color: var(--neutral-verydarkgrayishblue);
}
.presentation p{
    color: var(--neutral-verydarkgrayishblue)
}
#projects{
    display: flex;
    justify-content: space-between;
    min-height: 50vh;
    width: 70%;
    margin: auto;
    color:var(--neutral-verydarkgrayishblue);
}
#projects article{
    min-width: 50vmax;
    background: url("../images/desktop/image-graphic-design.jpg") no-repeat;
    background-size: cover;
}

#projects article:last-of-type{
    background: url("../images/desktop/image-photography.jpg") no-repeat;
}

#contact h2{
    font-size: 2em;
}
#contact figure{
    max-width: 20%;
    text-align: center;
    margin: 3em auto;
}
#contact figure img{
    border-radius: 50%;
}
#contact .name{font-family: "barlow";}
#contact .role{color:var(--);}
#contact article{
    display: flex;
    justify-content: space-around;
}
#goodbye{
    display: flex;
    position:relative;
    bottom:0;
}
#goodbye img{
    max-width: 25%;
}
footer article{
    background: var(--footer);
    min-height: 60vh;
    position:relative;
    bottom:0;
}
